@charset "utf-8";


.login{
	position:fixed;
	top:1;
	left:1;
}

.sellbtn{
	background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
	border: 1px solid black;
	float:right;
	color:black;
	height: 40px;
	width:100px;
	text-align:center;
	line-height:40px;
	margin: -70px 110px 0 0;
}
a.sellbtn:hover{
	color:yellow;
	text-decoration:none;
}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F7F7F7 url(images/bg-full.jpg) fixed;
  color: #000000;}

p
{ padding: 0 0 20px 30px;
  line-height: 1.5em;
  font-size: 107%;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 250% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #000000;
  margin: 0 0 15px 30px;
  padding: 5px 0 5px 0;}

h2
{ font: normal 170% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #000;  
  margin: 0;
  padding: 0 0 8px 30px;}

h3
{ font-size: 200%;
  margin: 0 0 9px 30px;
  color: #FFF;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 30px;
  font: normal 100% arial, sans-serif;
  color: #FFF;
  line-height: 1em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h6
{ color: #FFF;}

a, a:hover
{ outline: none;
  text-decoration: none;
  color: #1aa807;}

a:hover
{ text-decoration: underline;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style: none;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;
  list-style: none;
}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 952px;
  height: 145px;}

#logo
{ width: 950px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 0px 10px;}

#logo h1
{ font: normal 350% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #FFF;
  float: left;}

#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}

.slogan
{ float: right; 
  padding-right: 25px;
  text-align: right; 
  font: 500% 'tangerine', arial; 
  color: #000000;}

#menubar
{ height: 46px;
  margin: 0px auto -1px auto;
  float: right;
  padding: 0px 0 0 0;} 

#menu ul
{ float: right;
  width:100%;
  border-radius: 5px;
  border: 2px solid #000000;
  background: -webkit-linear-gradient(top, #4088cc 0%,#2b6aa1 24%,#114573 50%,#275e8f 79%,#2e71ac 100%);
  box-shadow: 8px 8px 5px rgba(0,0,0,0.7);
  
}

#menu ul li
{ float: left;
  padding: 0 0 0px 0px;
  list-style: none;
  margin: 0px 0 0 0;
  background: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  }

#menu ul li a
{ font: normal 170% 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  display: block; 
  float: left; 
  height: 20px;
  padding: 7px 23px 15px 23px;
  text-align: center;
  color: #FFF;
  } 
  #menu ul li ul a
{ font: normal 130% 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  color: #FFF;
  display: block; 
  float: left; 
  height: 20px;
  width:104px;
  padding: 7px 23px 15px 23px;
  text-align: left;
  
  } 
  
  #menu ul li a:hover
{ 
  display:block;
}
#menu ul li:hover
{ 
  border-bottom: 0;
 background: #101010;
}

#menu ul ul {
   display: none;
   position: absolute;
}

#menu ul li ul {
padding: 0;
z-index: 2000;
background: #101010;
position: absolute;
margin: 42px 0 0 0px;
width: 150px;
box-shadow: 2px 2px 2px #000;
display: none;
opacity: 0;
visibility: hidden;
}
#menu ul li ul li { 
  background: #101010;
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

#menu ul li ul li:hover { 
  background: #505050;
}

#menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


li > a:after { content: ' »'; } 
li > a:only-child:after { content: ''; }  

#site_content
{ width: 950px;
  overflow: hidden;
  margin: 50px auto 0 auto;
  padding: 10px;
  background: #e5e5e5;
  border: 1px solid #000;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 21px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 21px 8px rgba(0,0,0,0.75);
box-shadow: 1px 1px 20px 3px rgba(0,0,0,0.75);
  } 

#sidebar_container
{ 
  float:right;
  width: 0px;
  margin: 50px -150px 0 auto;
  }

.sidebar
{ width: 200px;
  margin: 0 24px 28px 0;
  background: #111a21;
  border: 1px solid #000;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  }


.sidebar h3, .content h1
{ padding: 10px 15px;
  margin: 0 1px;}

.sidebar h1
{ padding: 5px 0 0 0;}

.paperclip
{ float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -27px 0 -60px -30px;}

#content
{ 
	text-align: left;
  width: 630px;
  padding: 25px 25px 5px 25px;
  margin: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(layout/images/bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}



.gallery img
{ position:absolute;}

.form_settings
{ margin: 5px 0 0 0;}

.form_settings p
{ padding: 0 0 10px 0;}

.form_settings span
{ padding: 5px 0; 
  float: left; 
  width: 170px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ width: 252px; 
  font: 100% 'trebuchet ms', arial;
  border: 0;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  color: #FFF;}
  
.form_settings .submit
{ border: 0; 
  width: auto;
  height:50px;
  margin: 0 0 0 200px; 
  cursor: pointer; 
  color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 15px;
  background: #fff;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}

.form_settings textarea, .form_settings select
{ font: 100% 'trebuchet ms', arial; 
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  width: 252px;
  overflow: auto;}

.form_settings select
{ width: 274px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.search
{ color: #666;
  border: 1px solid #eee;
  margin: 0;
  padding: 10px 5px;
  width: 189px;
  height: 0px;
  color: #000000;}
  
.subscribe
{ color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #fff;
  float: right;
  cursor: pointer;
  margin: 0;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}
 /*
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #F5F5F5;
  color: #111;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FBFBFB;
  color: #111;
  border-top: 1px solid #FFF;} */
 
table { 
        background: #e5e5e5;
	margin: 2% 0px 0px 5%;
	width: 90%;
	border-spacing: 1px;
	font-size:17px;
	border-radius:5px;
}
table tr th, table tr td { 
	padding: 4px 4px;
}
table tr:nth-child(odd) td{
background: rgba(0, 0, 0, 0.001);

}
table tr:nth-child(even) td{
background: rgba(0, 0, 0, 0.001);

}
table tr:first-child th, table tr:first-child td{
background: rgba(0, 0, 0, 0.001);
	font-weight: bold;
	text-align: left;

}
tr.darkborder  td{
background: rgba(0, 0, 0, 0.001);;

}
tr.lightborder  td{
background: rgba(0, 0, 0, 0.001);

}
table.transborder  tr td{
background: rgba(0, 0, 0, 0.001);
}
  
