@charset "utf-8";

/* -----------------------------------------
  Headers
----------------------------------------- */

.sellbtn{
	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
	float:right;
	margin: 120px 160px 0 0px;
	width:100px;
	height:30px;
	border:1px solid black;
	border-radius:15px;
	line-height:30px;
	text-align:center;
}
.sellbtn:hover{
	background:black;
}

.item td{
	font-weight:bold;
	padding:0 45px 0 5px;
}

#forumtbl{
	text-align:left;
	padding:0px 0 0 7px;
}

#admintab input{
	width:220px;
}



/* -----------------------------------------
  Full page
----------------------------------------- */

#full_page_wrapper{
	width:958px;
	margin:0px 0px 0px 1px;
	background:url(../images/full_page_wrapper_loop.png) repeat-y top left;
	border-right:1px solid #333;
	position:relative;
	padding-bottom:1px;
	border-top: 1px solid #461C0E;
	
}

#full_page_wrapper h1, #full_page_wrapper h2{
	float:none;
}

#full_page_wrapper #post_wrapper{
	width:930px;
	
}

/* -----------------------------------------
  Gallery
----------------------------------------- */

ul#gallery_wrapper{
	list-style:none;
	float:left;
	padding: 0;
	margin: 20px 0px 0px 20px;
}

ul#gallery_wrapper li{
	width:217px;
	height:176px;
	background:url(../images/gallery/item_bg.png) top left no-repeat;
	float:left;
	margin: 0px 7px 15px 0px;
	padding: 8px 0px 0px 9px;
}

ul#gallery_wrapper li a{
	display:block;
	overflow:hidden;
	width:204px;
	height:166px;
	opacity:0.5;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

ul#gallery_wrapper li a:hover{
	opacity:1;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

ul#gallery_wrapper li a img{
	width:204px;
}


#full_page_wrapper #pager{
	position:relative;
	right:400px;
	margin:20px 0px 30px 0px;
}




